.form-final td input {
  width: 100%;
}
.form-final tr td, tr th {
  padding: 0;
}
.form-final input::-webkit-outer-spin-button,
.form-final input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.form-final #wrapper_form {
  margin-top: 20px;
}
